/*------------------------------------
// General style
------------------------------------*/
html, body, input, select, textarea {
    font-size: 1.05em;
}



/*------------------------------------
// Customized navbar
------------------------------------*/

.navbar-time {
    display: inline-block;
    margin-left: 15px;
}

@media (min-width: 768px) {
    .navbar-time {
        //display: inline-block;
        //border: 2px solid blue;
        margin-left: 20px;
        margin-top: 13px;
    }
}



/*------------------------------------
// Customized carousel
------------------------------------*/
.carousel .item {
    overflow: hidden;
    //border: 3px solid red;
}

.carousel .item img {
    width: 100%;
    height: auto;
    //margin-top: -150px;
    //border: 3px solid blue;
}

.carousel-control {
    display: none;
}

@media (min-width: 768px) {
    .carousel .item {
        max-height: 400px;
    }
}

@media (max-width: 768px) {
    .carousel .item {
        max-height: 225px;
    }
}



/*------------------------------------
// Customized google map
------------------------------------*/
#blog-map {
    max-width: 1000px;
    height: 600px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    #blog-map {
        height: 400px; 
    }
}

#map {
    margin: 0; 
    padding: 0; 
    height: 600px;
}



/*------------------------------------
// Others
------------------------------------*/
.firstline {
    font-family: 'Droid Serif', serif;
}



/*------------------------------------
// About page - privacy policy
------------------------------------*/
.section-container {
    margin-top: 80px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.section-container h3 {
    /* grey */
    color: #A9A9A9;
}