
html, body, input, select, textarea {
    font-size: 1.05em;
}

.firstline {
    font-family: 'Droid Serif', serif;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 100%;
  margin: auto;
}

.carousel-inner > .item {
    max-height: 400px;
    vertical-align: text-bottom;
}