
<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
    <div class="container-fluid">
        <div class="navbar-header navbar-left">
            <a class="navbar-brand" href="#">{{name}}</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li><p class="navbar-text navbar-time">{{curTime}}</p></li>
            <li><p class="navbar-text navbar-time">{{greeting}}</p></li>
            <li><a href="#blog"><i class="fa fa-comment"></i> Blog</a></li>
            <li><a href="#about"><i class="fa fa-shield"></i> About</a></li>
        </ul>
    </div>
</div>